{% extends 'layout.html' %}
{% block title %} eNiwas | Home {% endblock %}
{% block head_scripts %}
  <script type="text/javascript" src="../scripts/home.js"></script>
  <script type="text/javascript" src="../scripts/variables.js"></script>
  <link rel="stylesheet" href="../style/home.css" />
  <style>
    body,html{
      overflow-y: hidden;
    }
  </style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div id="dismiss">
          <i style="font-size: larger;font-weight: bolder;" class="fas fa-arrow-left">&#8592;</i>
      </div>

      <div class="sidebar-header">
          <h3>eNiwas</h3>
      </div>

      <ul class="list-unstyled components">

          <center><img style="width:128px;height:128px;" src="https://cdn.iconscout.com/icon/free/png-256/hotel-512-453740.png" class="img-fluid" alt="Responsive image"></center>

          <p>
            <span id="hname">Hotel Name</span>
            <br/>
            <span id="bname">Branch Name</span>
            <br/>
            <span id="mname">Manager Name</span>
          </p>
          <li>
              <a href="./revise.html">Revise</a>
          </li>
          <li>
              <a href="./history.html">History</a>
          </li>
          <li>
            <a>Analytics</a>
          </li>
      </ul>

      <ul class="list-unstyled CTAs">
          <li>
              <a href="./index.html" onclick="quitApp()" class="download">Logout</a>
          </li>
          <!-- <li>
              <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
          </li> -->
      </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left">&#9776;</i>
              </button>
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="./settings.html">&#9881; Settings</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>

      <div class="container-fluid">

        <div class="d-flex text-white">
          <div style="width:20%;" class="p-2 flex-fill text-center bg-danger">Occupied</div>
          <div style="width:20%;" class="p-2 flex-fill text-center bg-success">Available</div>
          <div style="width:20%;" class="p-2 flex-fill text-center bg-warning">Dirty</div>
          <div style="width:20%;" class="p-2 flex-fill text-center bg-primary">Management</div>
          <div style="width:20%;" class="p-2 flex-fill text-center bg-secondary">Maintenance</div>
        </div>

        <div class="progress mt-3 mb-2">
          <div id="progress-occ" class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
          <div id ="progress-ava" class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
          <div id ="progress-dir" class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
          <div id ="progress-man" class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
          <div id ="progress-mai" class="progress-bar bg-secondary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
        </div>

        <div class="mt-3 mb-2 grid-container r3-c4" id="roomPopulate">
          
        </div>

      </div>
      
  </div>
</div>

<!-- Advance Modal -->
<div class="modal" id="advanceModal" tabindex="-1" role="dialog" aria-labelledby="advanceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advanceModalLabel">Advance Receipt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="advanceForm">
      <div class="modal-body">
        <input class="form-control my-1" type="text" id="roomId" room-id="" value="GF04" placeholder="Room Number" readonly />
        <input class="form-control my-1" type="text" id="custId" cust-id="" value="Mr.Guatham" placeholder="Guest Name" readonly />
        <input class="form-control my-1" type="number" id="advAmount" placeholder="Amount" required/>
        <select class="custom-select my-1" id="payMode" required>
          <option value = "">Payment Type</option>
          <option value="1">Cash</option>
          <option value="2">Card</option>
          <option value="3">UPI</option>
        </select>
        <input style="display: none;" id="cardNumber" class="form-control my-1" type="text" placeholder="Card Number" />
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div></form>
    </div>
  </div>
</div>

<!-- Service Modal -->
<div class="modal" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviceModalLabel">Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row my-2">
          <div class="col">
            <input id="roomId" room-id="" class="form-control" type="text" value="GF04" placeholder="Room Number" readonly />
          </div>
          <div class="col">
            <input id="custId" cust-id="" class="form-control" type="text" value="Mr.Guatham" placeholder="Guest Name" readonly />
          </div>
        </div>
        <form id="addServiceForm">
        <div class="row my-2">
          <div class="col-4">
            <input class="form-control" id="serviceName" placeholder="Service Name" type="text" list="serviceList" required/>
            <datalist id="serviceList">
            </datalist>
          </div>
          <div class="col-2">
            <input class="form-control" id="serviceCost" type="number" value="" placeholder="MRP" required />
          </div>
          <div class="col-2">
            <input class="form-control" id="serviceQnty" min="0" type="number" value="" placeholder="Qnty" required />
          </div>
          <div class="col-2">
            <input class="form-control" id="serviceTotal" type="text" value="" placeholder="Total" readonly/>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary">&#10010;</button>
            <button type="reset" class="btn btn-success">&#9851;</button>
          </div>
        </div></form>
        <table class="table my-2">
          <thead>
            <tr>
              <th>Product</th>
              <th>MRP</th>
              <th>Qnty</th>
              <th>Sub Total</th>
              <th>&nbsp;&nbsp;</th>
            </tr>
          </thead>
          <!-- Service gets added here -->
          <tbody id="serviceTableBody"></tbody>
        </table>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Total : </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="totalService" value="" placeholder="Total Amount" readonly>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="resetServiceModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="submitServiceModal" type="button" class="btn btn-primary">Add Services</button>
      </div>
    </div>
  </div>
</div>

<!-- Change Room Modal -->
<div class="modal" id="changeRoomModalCentered" tabindex="-1" role="dialog" aria-labelledby="changeRoomModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeRoomModalCenteredLabel">Change Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="w-100">
          <div class="w-50 float-left">
            <form class="p-2">
              <fieldset>
               <legend>From:</legend>
               <input id="roomId" room-id="" class="form-control my-1" type="text" value="GF04" placeholder="Room Number" readonly />
               <input id="custId" cust-id="" class="form-control my-1" type="text" value="Mr.Gautham" placeholder="Guest Name" readonly />
              </fieldset>
            </form> 
          </div>
          <div class="w-50 float-left">
            <form id="changeRoomForm" class="p-2">
              <fieldset>
               <legend>To:</legend>
               <select id="cust-rtype" class="custom-select my-1" required>
                <option value="">Room Type</option>
                <option value="1">Deluxe</option>
                <option value="2">Classic</option>
                <option value="3">Suite</option>
              </select>
               <select id="cust-rnum" class="custom-select my-1" required>
                <option value="">Room Number</option>
                <option value="1">GF01</option>
                <option value="2">GF03</option>
                <option value="3">FF02</option>
              </select>
               <input id="changeRoomdt" class="form-control my-1" type="datetime-local" readonly/>
              </fieldset>
             
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div></form>
    </div>
  </div>
</div>

<!-- checkIn Modal -->
<div class="modal" id="checkInModal" tabindex="-1" role="dialog" aria-labelledby="checkInModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkInModalLabel">Check In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="checkInForm">
      <div style="max-height: 500px;overflow-y: scroll;" class="modal-body">
        <div class="row">
          <div class="col-3">
            <select id="cust-title" class="custom-select" required>
              <option value="" selected>Select Title</option>
              <option value="Mr.">Mr.</option>
              <option value="Mrs.">Mrs.</option>
              <option value="Ms.">Ms.</option>
            </select>            
          </div>
          <div class="col-6">
            <input id="cust-name" class="form-control" type="text" placeholder="Guest Name" required/>
          </div>
        </div>

        <div class="row px-2 my-2">
          Select referral :
          <div style="width:800px;overflow:auto;" class="btn-group btn-group-toggle py-4" data-toggle="buttons">
 
            <label data-toggle="tooltip" data-placement="bottom" title="Direct Walk-In" class="btn btn-outline-primary">
              <input type="radio" name="referralOption" value="-999" autocomplete="off" required> <img style="max-height: 30px;max-width: 150px;" src ="https://www.shareicon.net/data/256x256/2016/04/24/754642_people_512x512.png" />
            </label>
              <label data-toggle="tooltip" data-placement="bottom" title="OYO" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00001" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/oyo-icon.jpeg" />
              </label>
              <label data-toggle="tooltip" data-placement="bottom" title="Cleartrip" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00002" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/cleartrip-icon.jpeg" />
              </label>
              <label data-toggle="tooltip" data-placement="bottom" title="Makemytrip" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00003" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/makemytrip-icon.jpeg" />
              </label>
              <label data-toggle="tooltip" data-placement="bottom" title="Reddoorz" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00004" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/reddoorz-icon.jpeg" />
              </label>
                                   
              <label data-toggle="tooltip" data-placement="bottom" title="Treebo" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00008" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/treebo-icon.jpeg" />
              </label>
          
              <label data-toggle="tooltip" data-placement="bottom" title="Trivago" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00005" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/trivago-icon.jpeg" />
              </label>
              <label data-toggle="tooltip" data-placement="bottom" title="Yatra" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00006" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/yatra-icon.jpeg" />
              </label>
              <label data-toggle="tooltip" data-placement="bottom" title="Vista Rooms" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00009" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/vistarooms-icon.jpeg" />
              </label>
              <label data-toggle="tooltip" data-placement="bottom" title="FabHotels" class="btn btn-outline-primary">
                <input type="radio" name="referralOption" value="R-00007" autocomplete="off"> <img style="max-height: 30px;max-width: 150px;" src ="http://18.222.233.51/images/referal-logos/fabhotels-icon.jpeg" />
              </label>
              
            
          </div>
        </div>

        <div class="row my-1">
          <div class="col"><input id="cust-mobile" class="form-control" type="text" placeholder="Mobile Number" required /></div>
          <div class="col"><input id="cust-email" class="form-control" type="text" placeholder="Email" required/></div>
        </div>

        <div class="row my-1">
          <div class="col">
            <select id="cust-natn" class="custom-select" required>
              <option value="">Select Nationality</option>
              <option value="AF">Afghanistan</option>
              <option value="AX">Aland Islands</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
              <option value="AS">American Samoa</option>
              <option value="AD">Andorra</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AQ">Antarctica</option>
              <option value="AG">Antigua and Barbuda</option>
              <option value="AR">Argentina</option>
              <option value="AM">Armenia</option>
              <option value="AW">Aruba</option>
              <option value="AU">Australia</option>
              <option value="AT">Austria</option>
              <option value="AZ">Azerbaijan</option>
              <option value="BS">Bahamas</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BB">Barbados</option>
              <option value="BY">Belarus</option>
              <option value="BE">Belgium</option>
              <option value="BZ">Belize</option>
              <option value="BJ">Benin</option>
              <option value="BM">Bermuda</option>
              <option value="BT">Bhutan</option>
              <option value="BO">Bolivia</option>
              <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BW">Botswana</option>
              <option value="BV">Bouvet Island</option>
              <option value="BR">Brazil</option>
              <option value="IO">British Indian Ocean Territory</option>
              <option value="BN">Brunei Darussalam</option>
              <option value="BG">Bulgaria</option>
              <option value="BF">Burkina Faso</option>
              <option value="BI">Burundi</option>
              <option value="KH">Cambodia</option>
              <option value="CM">Cameroon</option>
              <option value="CA">Canada</option>
              <option value="CV">Cape Verde</option>
              <option value="KY">Cayman Islands</option>
              <option value="CF">Central African Republic</option>
              <option value="TD">Chad</option>
              <option value="CL">Chile</option>
              <option value="CN">China</option>
              <option value="CX">Christmas Island</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO">Colombia</option>
              <option value="KM">Comoros</option>
              <option value="CG">Congo</option>
              <option value="CD">Congo, Democratic Republic of the Congo</option>
              <option value="CK">Cook Islands</option>
              <option value="CR">Costa Rica</option>
              <option value="CI">Cote D'Ivoire</option>
              <option value="HR">Croatia</option>
              <option value="CU">Cuba</option>
              <option value="CW">Curacao</option>
              <option value="CY">Cyprus</option>
              <option value="CZ">Czech Republic</option>
              <option value="DK">Denmark</option>
              <option value="DJ">Djibouti</option>
              <option value="DM">Dominica</option>
              <option value="DO">Dominican Republic</option>
              <option value="EC">Ecuador</option>
              <option value="EG">Egypt</option>
              <option value="SV">El Salvador</option>
              <option value="GQ">Equatorial Guinea</option>
              <option value="ER">Eritrea</option>
              <option value="EE">Estonia</option>
              <option value="ET">Ethiopia</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FO">Faroe Islands</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Finland</option>
              <option value="FR">France</option>
              <option value="GF">French Guiana</option>
              <option value="PF">French Polynesia</option>
              <option value="TF">French Southern Territories</option>
              <option value="GA">Gabon</option>
              <option value="GM">Gambia</option>
              <option value="GE">Georgia</option>
              <option value="DE">Germany</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GR">Greece</option>
              <option value="GL">Greenland</option>
              <option value="GD">Grenada</option>
              <option value="GP">Guadeloupe</option>
              <option value="GU">Guam</option>
              <option value="GT">Guatemala</option>
              <option value="GG">Guernsey</option>
              <option value="GN">Guinea</option>
              <option value="GW">Guinea-Bissau</option>
              <option value="GY">Guyana</option>
              <option value="HT">Haiti</option>
              <option value="HM">Heard Island and Mcdonald Islands</option>
              <option value="VA">Holy See (Vatican City State)</option>
              <option value="HN">Honduras</option>
              <option value="HK">Hong Kong</option>
              <option value="HU">Hungary</option>
              <option value="IS">Iceland</option>
              <option value="IN">India</option>
              <option value="ID">Indonesia</option>
              <option value="IR">Iran, Islamic Republic of</option>
              <option value="IQ">Iraq</option>
              <option value="IE">Ireland</option>
              <option value="IM">Isle of Man</option>
              <option value="IL">Israel</option>
              <option value="IT">Italy</option>
              <option value="JM">Jamaica</option>
              <option value="JP">Japan</option>
              <option value="JE">Jersey</option>
              <option value="JO">Jordan</option>
              <option value="KZ">Kazakhstan</option>
              <option value="KE">Kenya</option>
              <option value="KI">Kiribati</option>
              <option value="KP">Korea, Democratic People's Republic of</option>
              <option value="KR">Korea, Republic of</option>
              <option value="XK">Kosovo</option>
              <option value="KW">Kuwait</option>
              <option value="KG">Kyrgyzstan</option>
              <option value="LA">Lao People's Democratic Republic</option>
              <option value="LV">Latvia</option>
              <option value="LB">Lebanon</option>
              <option value="LS">Lesotho</option>
              <option value="LR">Liberia</option>
              <option value="LY">Libyan Arab Jamahiriya</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MK">Macedonia, the Former Yugoslav Republic of</option>
              <option value="MG">Madagascar</option>
              <option value="MW">Malawi</option>
              <option value="MY">Malaysia</option>
              <option value="MV">Maldives</option>
              <option value="ML">Mali</option>
              <option value="MT">Malta</option>
              <option value="MH">Marshall Islands</option>
              <option value="MQ">Martinique</option>
              <option value="MR">Mauritania</option>
              <option value="MU">Mauritius</option>
              <option value="YT">Mayotte</option>
              <option value="MX">Mexico</option>
              <option value="FM">Micronesia, Federated States of</option>
              <option value="MD">Moldova, Republic of</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia</option>
              <option value="ME">Montenegro</option>
              <option value="MS">Montserrat</option>
              <option value="MA">Morocco</option>
              <option value="MZ">Mozambique</option>
              <option value="MM">Myanmar</option>
              <option value="NA">Namibia</option>
              <option value="NR">Nauru</option>
              <option value="NP">Nepal</option>
              <option value="NL">Netherlands</option>
              <option value="AN">Netherlands Antilles</option>
              <option value="NC">New Caledonia</option>
              <option value="NZ">New Zealand</option>
              <option value="NI">Nicaragua</option>
              <option value="NE">Niger</option>
              <option value="NG">Nigeria</option>
              <option value="NU">Niue</option>
              <option value="NF">Norfolk Island</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="NO">Norway</option>
              <option value="OM">Oman</option>
              <option value="PK">Pakistan</option>
              <option value="PW">Palau</option>
              <option value="PS">Palestinian Territory, Occupied</option>
              <option value="PA">Panama</option>
              <option value="PG">Papua New Guinea</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="PH">Philippines</option>
              <option value="PN">Pitcairn</option>
              <option value="PL">Poland</option>
              <option value="PT">Portugal</option>
              <option value="PR">Puerto Rico</option>
              <option value="QA">Qatar</option>
              <option value="RE">Reunion</option>
              <option value="RO">Romania</option>
              <option value="RU">Russian Federation</option>
              <option value="RW">Rwanda</option>
              <option value="BL">Saint Barthelemy</option>
              <option value="SH">Saint Helena</option>
              <option value="KN">Saint Kitts and Nevis</option>
              <option value="LC">Saint Lucia</option>
              <option value="MF">Saint Martin</option>
              <option value="PM">Saint Pierre and Miquelon</option>
              <option value="VC">Saint Vincent and the Grenadines</option>
              <option value="WS">Samoa</option>
              <option value="SM">San Marino</option>
              <option value="ST">Sao Tome and Principe</option>
              <option value="SA">Saudi Arabia</option>
              <option value="SN">Senegal</option>
              <option value="RS">Serbia</option>
              <option value="CS">Serbia and Montenegro</option>
              <option value="SC">Seychelles</option>
              <option value="SL">Sierra Leone</option>
              <option value="SG">Singapore</option>
              <option value="SX">Sint Maarten</option>
              <option value="SK">Slovakia</option>
              <option value="SI">Slovenia</option>
              <option value="SB">Solomon Islands</option>
              <option value="SO">Somalia</option>
              <option value="ZA">South Africa</option>
              <option value="GS">South Georgia and the South Sandwich Islands</option>
              <option value="SS">South Sudan</option>
              <option value="ES">Spain</option>
              <option value="LK">Sri Lanka</option>
              <option value="SD">Sudan</option>
              <option value="SR">Suriname</option>
              <option value="SJ">Svalbard and Jan Mayen</option>
              <option value="SZ">Swaziland</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="SY">Syrian Arab Republic</option>
              <option value="TW">Taiwan, Province of China</option>
              <option value="TJ">Tajikistan</option>
              <option value="TZ">Tanzania, United Republic of</option>
              <option value="TH">Thailand</option>
              <option value="TL">Timor-Leste</option>
              <option value="TG">Togo</option>
              <option value="TK">Tokelau</option>
              <option value="TO">Tonga</option>
              <option value="TT">Trinidad and Tobago</option>
              <option value="TN">Tunisia</option>
              <option value="TR">Turkey</option>
              <option value="TM">Turkmenistan</option>
              <option value="TC">Turks and Caicos Islands</option>
              <option value="TV">Tuvalu</option>
              <option value="UG">Uganda</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="US">United States</option>
              <option value="UM">United States Minor Outlying Islands</option>
              <option value="UY">Uruguay</option>
              <option value="UZ">Uzbekistan</option>
              <option value="VU">Vanuatu</option>
              <option value="VE">Venezuela</option>
              <option value="VN">Viet Nam</option>
              <option value="VG">Virgin Islands, British</option>
              <option value="VI">Virgin Islands, U.s.</option>
              <option value="WF">Wallis and Futuna</option>
              <option value="EH">Western Sahara</option>
              <option value="YE">Yemen</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option>
            </select>            
          </div>
          <div class="col">
            <select id="cust-purp" class="custom-select" required>
              <option value="" selected>Select Purpose</option>
              <option value="1">Travel</option>
              <option value="2">Business</option>
              <option value="3">Other</option>
            </select>            
          </div>
        </div>

        <div class="row my-2">
          <div class="col">
            <textarea id="cust-addr" style="resize: none;" class="form-control" rows="3" placeholder="Address" required></textarea>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-4"><input class="form-control" id="ciDatetime" type="datetime-local" readonly></div>
          <div class="col-4"><input class="form-control" id="dateTimeco" type="datetime-local" readonly></div>
          <div class="col-2"><input class="form-control" id="cust-days" type="number" placeholder="Days" required></div>
          <div class="col-2"><input class="form-control" id="cust-guest" type="number" placeholder="Guests" required></div>
        </div>

        <div class="row">
          <div class="col-3">
            <select id="cust-rtype" class="custom-select" required>
              <option value="">Room Type</option>
            </select>
          </div>          
          <div class="col-3">
            <select id="cust-rnum" class="custom-select" required>
              <option value="">Select Room#</option>
            </select>
          </div>
          <div class="col-3">
            <select id="cust-rplan" class="custom-select" required>
              <option value="">Rate Plan</option>
              <option value="1">Continental</option>
              <option value="2">American</option>
              <option value="3">European</option>
            </select>
          </div>
          <div class="col-3">
            <input id="cust-rcost" class="form-control" type="number" placeholder="Cost" required/>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Check In</button>
      </div></form>
    </div>
  </div>
</div>

<!-- Checkout Modal -->
<div class="modal" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkOutModalLabel">Check Out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="checkOutForm">
      <div class="modal-body" style="height: 500px;overflow-y: scroll;">
        <div class="w-100">
          <div class="w-50 float-left">
            <div class="p-2">
              <input class="form-control my-1" type="hidden" value="RID-001" id="roomId"  />
              <input class="form-control my-1" type="text" value="GF04" id="roomName" placeholder="Room Number" readonly />
              
              
              <div class="form-group row">
                <label for="checkindt" class="col-sm-4 col-form-label">Check In</label>
                <div class="col-sm-8">
                  <input class="form-control my-1" type="datetime-local" placeholder="CheckIn Datetime" id="checkindt" readonly/>
                </div>
              </div>
              
              <div class="form-group row">
                <label for="checkoutdt" class="col-sm-4 col-form-label">Check Out</label>
                <div class="col-sm-8">
                  <input class="form-control my-1" type="datetime-local" placeholder="Checkout Datetime" id="checkoutdt" readonly/>
                </div>
              </div>

                <div class="form-group row">
                  <label for="billNum" class="col-sm-4 col-form-label">Bill#</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="billNum" placeholder="Bill#" readonly>
                  </div>
                </div>
              
            </div> 
          </div>
          <div class="w-50 float-left">
            <div class="p-2">
              <input class="form-control my-1" type="hidden" value="CID-001" id="custId"  />
              <input id="custName" class="form-control my-1" type="text" value="Mr.Gautham" placeholder="Guest Name" readonly />
              <div class="row my-2">
                <div class="col">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary disabled" >
                      <input type="radio" name="options" id="option1" autocomplete="off" /> 
                      <img id="reffImg" style="max-height: 30px;max-width: 150px;" src ="https://insolvencytracker.in/wp-content/uploads/2021/04/OYO.png" />
                    </label>
                    
                  </div>                        
                </div>
              </div>
              <textarea readonly style="resize: none;" class="form-control" id="custAddr" rows="3" placeholder="Address"></textarea>
              <input id="numguest" type="hidden" value="" />
              <input id="roomtype" type="hidden" value="" />
            </div> 
          </div>
        </div>

        <div style="clear:both;" class="row my-2">
          <div class="col">
            <select id="paymode" class="custom-select" required>
              <option value="">Payment Mode</option>
              <option value="1">Cash</option>
              <option value="2">Card</option>
              <option value="3">UPI</option>
            </select>
          </div>
          <div class="col">
            <input id="cardNum" class="form-control" type="text" placeholder="Card Number" disabled>
          </div>
        </div>

        <div class="w-100">
          <div class="w-75 float-left">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Particulars</th>
                  <th>Tax</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody id="particularDesc">
                <!-- particular rows-->
              </tbody>
            </table>
            <!-- <div class="alert alert-primary" role="alert">
              <strong>Sub Total (&#8377;) : </strong><span id="subTotal"></span>&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;<strong>Total (&#8377;) : </strong><span id="totalBill"></span>
            </div> -->
          </div>
          <div class="w-25 float-left">
            <div class="p-2">
              <div class="form-group">
                <label for="paidAmount">Paid (&#8377;) :</label>
                <input type="text" class="form-control" id="paidAmount" value="525" placeholder="Paid Amount" readonly>
              </div>
              <div class="form-group">
                <label for="dueAmount">Due (&#8377;) :</label>
                <input type="text" class="form-control" id="dueAmount" value="400" placeholder="Due Amount" readonly>
              </div>
              <div class="form-group">
                <label for="taxAmount">Total (&#8377;) :</label>
                <input type="text" class="form-control" id="totalBill" value="925" placeholder="Total Bill" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="printBill" class="btn btn-primary">Print Bill</button>
        <button type="submit" class="btn btn-primary">Check Out</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="overlay"></div>

<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
          theme: "minimal"
      });

      $('#dismiss, .overlay').on('click', function () {
          $('#sidebar').removeClass('active');
          $('.overlay').removeClass('active');
      });

      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').addClass('active');
          $('.overlay').addClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
  });
</script>
<script>
  $(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}