<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="../favicon.png"/>
        
		<link rel="stylesheet" href="../style/bootstrap.min.css">
		<script src="../scripts/jquery-3.6.0.min.js"></script>
        <script src="../scripts/bootstrap.min.js"></script>
		<!-- <script type="text/javascript" src="../scripts/bootstrap.bundle.min.js"></script> -->
        <script type="text/javascript" src="../scripts/popper-core-2.10.2/src/popper.js"></script>
        <script type="text/javascript" src="/eel.js"></script>
        {% block head_scripts %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>