<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reciept</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/eel.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid p-3">
            <div class="d-flex justify-content-center">
                <h1 class="display-4">{{ hotelName }}%</h1>
            </div>
            <div class="d-flex justify-content-center my-2">
                <p class="text-body w-25 text-wrap text-center">{{ hotelAddress }}%</p>
            </div>
            <div class="w-100 d-block h-100 border border-dark">
                <div class="d-inline bg-white float-left w-50 p-3 ">
                    <span class="p-2 font-weight-bold">Guest Name & Address : </span>
                    <p class="p-2 w-50 text-wrap text-left">{{ customerDetails }}%</p>
                </div>
                <div class="border border-dark border-right-0 border-bottom-0 border-top-0 d-inline bg-white float-left w-50 p-3">
                    <p class="my-1">Bill# : <span>5557</span></p>
                    <p class="my-1">Check In : <span>14/07/2021 06:26</span></p>
                    <p class="my-1">Check Out : <span>14/07/2021 18:02</span></p>
                    <p class="my-1">Days Stayed : <span>1</span></p>
                    <p class="my-1">Room# : <span>B-102</span></p>
                    <p class="my-1">Guests : <span>2</span></p>
                    <p class="my-1">Room Type : <span>Classic 2X</span></p>
                </div>
            </div>
            <div style="clear:both;height:1px;width:100%;background-color:black;">&nbsp;</div>
            <div class="p-2 my-2">
                
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Particulars</th>
                      <th>Tax</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody id="particularDesc"><tr class="table-danger">
                            <th>2021-10-27</th>
                            <td style="max-width:200px;word-wrap: break-word;">Room Cost (₹ 1200) x 1</td>
                            <td>₹ 144</td>
                            <td>₹ 1344</td>
                         </tr><tr class="table-danger">
                            <th>2021-10-28</th>
                            <td style="max-width:200px;word-wrap: break-word;">Room Cost (₹ 1200) x 1</td>
                            <td>₹ 144</td>
                            <td>₹ 1344</td>
                         </tr><tr class="table-danger">
                            <th>2021-10-29</th>
                            <td style="max-width:200px;word-wrap: break-word;">Room Cost (₹ 1200) x 1</td>
                            <td>₹ 144</td>
                            <td>₹ 1344</td>
                         </tr><tr class="table-danger">
                            <th>2021-10-30</th>
                            <td style="max-width:200px;word-wrap: break-word;">Room Cost (₹ 1200) x 1</td>
                            <td>₹ 144</td>
                            <td>₹ 1344</td>
                         </tr><tr class="table-danger">
                            <th>2021-10-31</th>
                            <td style="max-width:200px;word-wrap: break-word;">Room Cost (₹ 1200) x 1</td>
                            <td>₹ 144</td>
                            <td>₹ 1344</td>
                         </tr><tr class="table-success">
                            <th>2021-10-27</th>
                            <td style="max-width:200px;word-wrap: break-word;">Room Advance</td>
                            <td>₹ 0</td>
                            <td>₹ 600</td>
                           </tr></tbody>
                </table>
               
            </div>
            <div class="w-100">
                <div class="border border-dark d-inline bg-white float-left w-50 p-3">
                    <span class="py-2 font-weight-bold">IN WORDS:  SIX THOUSAND SEVEN HUNDRED TWENTY ONLY </span>
                    <p>Room# : <span>102</span></p>
                    <p>Mode Of Payment : <span>Cash</span></p>
                </div>
                <div class="border border-dark border-left-0 d-inline bg-white float-left w-50 p-3">
                    <p class="my-1">Due : ₹ <span>6120</span></p>
                    <p class="my-1">Paid : ₹ <span>600</span></p>
                    <p class="my-1 p-2 font-weight-bold">Total : ₹ <span>6720</span></p>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>