{% extends 'layout.html' %}
{% block title %} eNiwas | Settings {% endblock %}
{% block head_scripts %}
<script>
  console.log($)
</script>
  <script type="text/javascript" src="../scripts/settings.js"></script>
  <link rel="stylesheet" href="../style/settings.css" />

{% endblock %}

{% block content %}
  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="./home.html"><strong>&#10229;</strong></a>
          </li>
          <li class="nav-item active">
            <a data-screen="roomRender" class="nav-link" href="#">Room</a>
          </li>
          <li class="nav-item">
            <a data-screen="serviceRender" class="nav-link" href="#">Service</a>
          </li>
          <!-- <li class="nav-item">
            <a data-screen="employeeRender" class="nav-link" href="#">Employee</a>
          </li> -->
          <!-- <li class="nav-item">
            <a data-screen="refRender" class="nav-link" href="#">Referral</a>
          </li> -->
        </ul>
      </div>
    </nav>

    <div class="p-4 mt-2 d-flex justify-content-center" id="roomRender">
      
      <!-- Table Rooms-->
      <div style="width:50%;display: inline;float: left;">
        <div class="d-flex justify-content-end">
          <!-- Button trigger modal -->
          <button disabled id="btnRoomModal" type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#addRoomModal">
            Add Room
          </button>
          <!-- Button trigger modal -->
          <button disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#roomTypeModal">
            Add Room Type
          </button>
        </div>
        <div class="p-3">
          <table id="roomTable" class="table">
            <thead>
              <th>Room#</th>
              <th>Room Type</th>
              <th>Room Cost</th>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>

      <!-- Add Room Modal-->

      <div class="modal" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addRoomModalLabel">Add Room</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- CRUD Operation-->
              <div class="row p-3">
                <input id="inprName" class="form-control my-2" type="text" placeholder="Room Identity" />
                      
                <select id="inprType" class="custom-select my-2">
                  <option selected value="-999">Room Type</option>
                  <option value="RTID-00001">Deluxe</option>
                  <option value="RTID-00002">Suite</option>
                </select>
              </div>

              <div class="d-flex justify-content-center">

                <button type="button" class="btn btn-primary mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Add Room">&#10010;</button>
                <button type="button" class="btn btn-warning mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Update Room">&#9998;</button>
                <button type="button" class="btn btn-danger mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Delete Room">&#9866;</button>
                <button type="button" class="btn btn-success mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Clear Fields">&#9851;</button>
                <!-- <button type="button" class="btn btn-primary mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Upload Excel">&#10514;</button> -->

              </div>

              
            </div>
          </div>
        </div>
      </div>

      <!-- Room Type Modal -->
      <div class="modal" id="roomTypeModal" tabindex="-1" role="dialog" aria-labelledby="roomTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="roomTypeModalLabel">Room Type</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">

              <select id="inprType" class="custom-select my-2">
                <option selected value="-999">Select Room Type</option>
                <option value="-1">Create Type</option>
                <option value="RTID-00003">Gold</option>
                <option value="RTID-00004">Platinum</option>
              </select>

              <input id="newRoomType" class="form-control my-2" type="text" placeholder="New Room Type" readonly/>
              <input id="editRoomCost" class="form-control my-2" type="text" placeholder="Room Cost" />

              <div class="d-flex justify-content-center">

                <button type="button" class="btn btn-primary mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Add">&#10010;</button>
                <button type="button" class="btn btn-warning mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Update" disabled>&#9998;</button>
                <button type="button" class="btn btn-danger mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Delete" disabled>&#9866;</button>
                <button type="button" class="btn btn-success mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Clear Fields">&#9851;</button>
                <!-- <button type="button" class="btn btn-primary mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Upload Excel">&#10514;</button> -->

              </div>

              <div class="p-3">
                <table id="rtypeTable" class="table">
                  <thead>
                    <th>Room Type</th>
                    <th>Room Cost</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="roomType" id="RTID-00001">Deluxe</td>
                      <td class="roomCost">Rs.900</td>
                    </tr>
                    <tr>
                      <td class="roomType" id="RTID-00002">Suite</td>
                      <td class="roomCost">Rs.1200</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            
          </div>
        </div>
      </div>


    </div>

    <!-- Service Screen -->
    <div class="p-4 mt-2 d-none justify-content-center" id="serviceRender">
      
       <!-- Table Service-->
       <div style="width: 50%;display: inline;float: left;">
        <div class="d-flex justify-content-end">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#addServiceModal">
            Add Service
          </button>
        </div>
        <div class="p-3">
          <table id="serviceTable" class="table">
            <thead>
              <th>#</th>
              <th>Service Name</th>
              <th>Service Cost</th>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>

      <!-- Add Service Modal-->

      <div class="modal" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addServiceModalLabel">Add Service</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- CRUD Operation-->
              <div class="row p-3">
                
                <select id="serviceId" class="custom-select my-2">
                  <option value="">Select Service</option>
                  <option value="-1">Create New</option>
                  <option value="1">7Up</option>
                  <option value="2">Extra Bed</option>
                </select>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input id="serviceEnabled" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                  </div>
                  <input id="serviceName" placeholder="New Service Name" type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
                <input id="serviceCost" class="form-control my-2" type="number" placeholder="Service Cost" />
                      
                
              </div>

              <div class="d-flex justify-content-center">

                <button type="button" class="btn btn-primary mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Add Service">&#10010;</button>
                <button type="button" class="btn btn-warning mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Update Service">&#9998;</button>
                <button type="button" class="btn btn-danger mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Delete Service">&#9866;</button>
                <button type="button" class="btn btn-success mx-1" data-toggle="tooltip" 
                data-placement="bottom" title="Clear Fields">&#9851;</button>

              </div>

              
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>

    </div>

    <!-- Employee Screen-->

    <div class="p-4 mt-2 d-none justify-content-center" style="display: none;" id="employeeRender">
      <!-- Table Emplyeee-->
      <div style="width:50%;display: inline;float: left;">

        <div>
          <div class="row p-3">
            <input id="empName" employee-id="" class="form-control my-2" type="text" placeholder="Employee Name" />
          </div>

          <div class="d-flex justify-content-center">

            <button type="button" class="btn btn-primary mx-1" data-toggle="tooltip" 
            data-placement="bottom" title="Add Room">&#10010;</button>
            <button type="button" class="btn btn-warning mx-1" data-toggle="tooltip" 
            data-placement="bottom" title="Update Room">&#9998;</button>
            <button type="button" class="btn btn-danger mx-1" data-toggle="tooltip" 
            data-placement="bottom" title="Delete Room">&#9866;</button>
            <button type="button" class="btn btn-success mx-1" data-toggle="tooltip" 
            data-placement="bottom" title="Clear Fields">&#9851;</button>

          </div>
        </div>

        <div class="p-3">
          <ul class="list-group">
            <li id="EID-0001" class="list-group-item">Ramesh</li>
            <li id="EID-0002" class="list-group-item">Suresh</li>
            <li id="EID-0003" class="list-group-item">Ganesh</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="p-4 mt-2" style="display: none;" id="refRender">
      referralrender
    </div>

    <script>
      $(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    
  </div>
{% endblock %}